<div class="modal-header">
    <h4 class="modal-title">CAMERA HKVISON 1</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <p class="mb-2">Mã camera: <strong>HKVISION1212</strong></p>
            <p class="mb-2">Loại camera: <strong>HKVISION</strong></p>
            <p class="mb-2">Vị trí: Góc 2/ tòa 205</p>
            <h5 class="fw-bold mb-2">SL phát hiện: <strong class="text-red-500">100</strong></h5>

            <video #target class="video-js" style="width: 100%; height: 300px;" controls muted playsinline
                preload="none"></video>
        </div>

        <div class="col-12 pt-5">
            <h5>Lịch sử đếm người</h5>
            <div class="table-responsive">
                <table class="table table-rounded table-row-bordered border gy-7 gs-7">
                    <thead>
                        <tr class="fw-bold fs-6 ">
                           
                            <th>Hình ảnh </th>
                            <th>Thời gian</th>
                            <th>Mô tả</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 120px;">
                                <img src="/assets/media/avatars/300-4.jpg" style="width: 30px;" class="img-fluid" alt="">
                            </td>
                            <td>12/02/2024 23:21</td>
                           
                            <td>Phát hiện đối tượng A</td>
                        </tr>
                        <tr>
                            <td style="width: 120px;">
                                <img src="/assets/media/avatars/300-4.jpg" style="width: 30px;" class="img-fluid" alt="">
                            </td>
                            <td>12/02/2024 23:21</td>
                           
                            <td>Phát hiện đối tượng A</td>
                        </tr>
                        <tr>
                            <td style="width: 120px;">
                                <img src="/assets/media/avatars/300-4.jpg" style="width: 30px;" class="img-fluid" alt="">
                            </td>
                            <td>12/02/2024 23:21</td>
                           
                            <td>Phát hiện đối tượng A</td>
                        </tr>
                        <tr>
                            <td style="width: 120px;">
                                <img src="/assets/media/avatars/300-4.jpg" style="width: 30px;" class="img-fluid" alt="">
                            </td>
                            <td>12/02/2024 23:21</td>
                           
                            <td>Phát hiện đối tượng A</td>
                        </tr>
                        <tr>
                            <td style="width: 120px;">
                                <img src="/assets/media/avatars/300-4.jpg" style="width: 30px;" class="img-fluid" alt="">
                            </td>
                            <td>12/02/2024 23:21</td>
                           
                            <td>Phát hiện đối tượng A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>