<ng-container >
  <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <div class="d-flex flex-column">
        <div class="fw-bolder d-flex align-items-center fs-5">
        QUẢN LÝ 1
     
        </div>
        <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer">
          TK: cameraman
        </a>
      </div>
    </div>
  </div>

  <div class="separator my-2"></div>



  <div class="menu-item px-5">
    <a class="menu-link px-5 cursor-pointer"> Đăng xuất </a>
  </div>
</ng-container>
